.card-text{
  height: 400px;
  text-align: center;
}
.logoAnthon{
  width: 33px;
  border-radius:100px;
}
.logoRedes{
  width:150px;
}

@media (max-width: 410px) {
  .card-text {
    height: 555px;
  }